In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data_examples/test_video/0000000_pointcloud.csv", header=None)

In [3]:
mins = df.min(axis=0)[:3]
mins

0     319
1   -2128
2      -5
dtype: int64

In [4]:
maxes = df.max(axis=0)[:3]
maxes

0    9791
1    5643
2    1020
dtype: int64

In [5]:
df_xyz = df.iloc[:,:3]

In [6]:
ref_ser = df.iloc[:, 3]

In [10]:
df_xyz = df_xyz - mins
df_xyz.head()

     0     1    2
0  135  4035  436
1  131  4033  434
2  129  4031  434
3  127  4029  433
4  129  4025  434

In [11]:
voxel_size = 10

In [25]:
df_grid = df_xyz//voxel_size
df_grid[3] = ref_ser
df_grid.head()

    0    1   2   3
0  13  403  43  25
1  13  403  43  25
2  12  403  43  25
3  12  402  43  25
4  12  402  43  25

In [26]:
df_grid.groupby([0,1,2]).apply(lambda x: x.iloc[:, 3].mean())

0     1    2
-32   403  3     10.062500
      404  3     10.000000
-31   402  3     13.166667
      403  3     10.346154
      404  3     10.666667
-30   401  3     16.500000
      402  2     10.750000
           3     15.363636
      403  3     11.000000
      404  3     11.000000
      449  2     26.625000
-29   400  3     17.000000
      401  3     16.400000
      402  2     10.500000
           3     15.727273
      403  3     10.583333
      404  3     10.444444
      449  2     28.739130
      450  2     27.500000
-28   400  3     15.375000
      401  3     16.166667
      402  3     15.260870
      403  3     10.958333
      404  3     10.333333
      448  2     26.000000
      449  2     27.583333
      450  2     27.400000
      451  2     26.000000
-27   399  3     16.000000
      400  3     15.782609
                   ...
 901  655  42     0.000000
 902  651  5      0.000000
           10     0.000000
           14     0.000000
           18     0.000000
           22     0.000000
           26     0.000000
           30     0.000000
           34     0.000000
           38     0.000000
           42     0.000000
 903  647  5      0.000000
           10     0.000000
           14     0.000000
           18     0.000000
           22     0.000000
           26     0.000000
           30     0.000000
           34     0.000000
 904  643  5      0.000000
           10     0.000000
           14     0.000000
           18     0.000000
           22     0.000000
           30     0.000000
 905  639  10     0.000000
           14     0.000000
           18     0.000000
 913  250  67    28.000000
 915  523  5     45.000000
Length: 18723, dtype: float64